body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid black;
    width: 90%;
    height: 1400px;
    flex-direction: column;
}

h1, button{
    /* font-family: cursive; */
    font-family: 'Aladin';
}
h1{
    font-size: 80px;
}

button{
    font-size: 25px;
    color: #fff;
    background-color: rgb(64, 133, 244);
    border: none;
    padding: 20px 70px;
    border-radius: 10px;
}
#activity{
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px 40px 20px;
}
#todo_activity{
    width: auto;
    height: auto;
    background-color: rgb(233, 249, 249);
    margin-top: 50px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(208, 207, 207);
    border-radius: 20px;
    padding: 10px 50px 50px 50px;
    text-align: left;
}
